{% extends 'App_core/base-header.html' %}
{% load static %}
{% block title %}{{title}}{% endblock %}
{% block content %}

<!-- ======= Specials Section ======= -->
<section id="specials" class="specials">

  <!--movil-->
  <div class="menu-principal">
    <i class="fas fa-home"></i>
    <i class="fas fa-search"></i>
    <i class="far fa-heart"></i>
    <img src="{% static 'App_core/img/chefs/chefs-2.jpg' %}" alt="">
  </div>
 
  <div class="cont-principal">

    <div class="side-bar">    
      <div class="position">
        <form action="#" method="POST" class="form-buscar">    
          <input type="text" name="buscar" id="buscar" placeholder="Buscar"/>
          <button type="submit" id="enviar-buscar"><i class="fas fa-search"></i></button>
        </form>

        <p class="my-4">Recetas sugeridas</p>

        <div>
          <article class="my-3">
            <div class="r-sugerida">
              <img src="{% static 'App_core/img/garron-de-cordero-al.jpg' %}" alt="">
              
              <div class="ver-receta ml-2">
                <p class="m-0">nombre receta</p>
                <a href="{% url 'receta' %}">ver receta</a> 
              </div>
            </div>  
          </article>

          <article class="my-3">
            <div class="r-sugerida">
              <img src="{% static 'App_core/img/garron-de-cordero-al.jpg' %}" alt="">
              
              <div class="ver-receta ml-2">
                <p class="m-0">nombre receta</p>
                <a href="{% url 'receta' %}">ver receta</a> 
              </div>
            </div>  
          </article>

          <article class="my-3">
            <div class="r-sugerida">
              <img src="{% static 'App_core/img/garron-de-cordero-al.jpg' %}" alt="">
              
              <div class="ver-receta ml-2">
                <p class="m-0">nombre receta</p>
                <a href="{% url 'receta' %}">ver receta</a> 
              </div>
            </div>  
          </article>

          <article class="my-3">
            <div class="r-sugerida">
              <img src="{% static 'App_core/img/garron-de-cordero-al.jpg' %}" alt="">
              
              <div class="ver-receta ml-2">
                <p class="m-0">nombre receta</p>
                <a href="{% url 'receta' %}">ver receta</a> 
              </div>
            </div>  
          </article>

          <article class="my-3">
            <div class="r-sugerida">
              <img src="{% static 'App_core/img/garron-de-cordero-al.jpg' %}" alt="">
              
              <div class="ver-receta ml-2">
                <p class="m-0">nombre receta</p>
                <a href="{% url 'receta' %}">ver receta</a> 
              </div>
            </div>  
          </article>
        </div>
      </div>    
    </div>

    <div class="principal">
      <article class="receta-principal border mb-3 pb-3">
        <h4 class="text-center my-4">Garron de cordero al vino tinto</h4>
    
        <div class="cont-user-principal mb-2">
          <div class="my-2 usuario-principal">
            <img src="{% static 'App_core/img/chefs/chefs-2.jpg' %}" alt="">
            <p class="ml-3 my-0"><a href="#">Nombre Usuario</a></p>                  
          </div>
    
          <div>
            <a href="{% url 'receta' %}"><button class="boton-receta-usuario">ver receta</button></a>
          </div>
        </div>
      
        <div class="contenido-receta">
          <img src="{% static 'App_core/img/garron-de-cordero-al.jpg' %}" alt="">
          
          <div class="iconos-receta my-2">
            <div>
              <i class="far fa-heart"></i>
              <i class="far fa-comment"></i>
            </div>
            <div>
              <i class="far fa-bookmark"></i>
            </div>  
          </div>
    
          <div class="iconos-receta">
            <p>10 me gusta</p>
          </div>
        </div>
      </article>
    
      <article class="receta-principal border mb-3 pb-3">
        <h4 class="text-center my-4">Garron de cordero al vino tinto</h4>
    
        <div class="cont-user-principal mb-2">
          <div class="my-2 usuario-principal">
            <img src="{% static 'App_core/img/chefs/chefs-2.jpg' %}" alt="">
            <p class="ml-3 my-0"><a href="#">Nombre Usuario</a></p>                  
          </div>
    
          <div>
            <a href="{% url 'receta' %}"><button class="boton-receta-usuario">ver receta</button></a>
          </div>
        </div>
      
        <div class="contenido-receta">
          <img src="{% static 'App_core/img/garron-de-cordero-al.jpg' %}" alt="">
          
          <div class="iconos-receta my-2">
            <div>
              <i class="far fa-heart"></i>
              <i class="far fa-comment"></i>
            </div>
            <div>
              <i class="far fa-bookmark"></i>
            </div>  
          </div>
    
          <div class="iconos-receta">
            <p>10 me gusta</p>
          </div>
        </div>
      </article>
    
      <article class="receta-principal border mb-3 pb-3">
        <h4 class="text-center my-4">Garron de cordero al vino tinto</h4>
    
        <div class="cont-user-principal mb-2">
          <div class="my-2 usuario-principal">
            <img src="{% static 'App_core/img/chefs/chefs-2.jpg' %}" alt="">
            <p class="ml-3 my-0"><a href="#">Nombre Usuario</a></p>                  
          </div>
    
          <div>
            <a href="{% url 'receta' %}"><button class="boton-receta-usuario">ver receta</button></a>
          </div>
        </div>
      
        <div class="contenido-receta">
          <img src="{% static 'App_core/img/garron-de-cordero-al.jpg' %}" alt="">
          
          <div class="iconos-receta my-2">
            <div>
              <i class="far fa-heart"></i>
              <i class="far fa-comment"></i>
            </div>
            <div>
              <i class="far fa-bookmark"></i>
            </div>  
          </div>
    
          <div class="iconos-receta">
            <p>10 me gusta</p>
          </div>
        </div>
      </article>
    
      <article class="receta-principal border mb-3 pb-3">
        <h4 class="text-center my-4">Garron de cordero al vino tinto</h4>
    
        <div class="cont-user-principal mb-2">
          <div class="my-2 usuario-principal">
            <img src="{% static 'App_core/img/chefs/chefs-2.jpg' %}" alt="">
            <p class="ml-3 my-0"><a href="#">Nombre Usuario</a></p>                  
          </div>
    
          <div>
            <a href="{% url 'receta' %}"><button class="boton-receta-usuario">ver receta</button></a>
          </div>
        </div>
      
        <div class="contenido-receta">
          <img src="{% static 'App_core/img/garron-de-cordero-al.jpg' %}" alt="">
          
          <div class="iconos-receta my-2">
            <div>
              <i class="far fa-heart"></i>
              <i class="far fa-comment"></i>
            </div>
            <div>
              <i class="far fa-bookmark"></i>
            </div>  
          </div>
    
          <div class="iconos-receta">
            <p>10 me gusta</p>
          </div>
        </div>
      </article>
    
      <article class="receta-principal border mb-3 pb-3">
        <h4 class="text-center my-4">Garron de cordero al vino tinto</h4>
    
        <div class="cont-user-principal mb-2">
          <div class="my-2 usuario-principal">
            <img src="{% static 'App_core/img/chefs/chefs-2.jpg' %}" alt="">
            <p class="ml-3 my-0"><a href="#">Nombre Usuario</a></p>                  
          </div>
    
          <div>
            <a href="{% url 'receta' %}"><button class="boton-receta-usuario">ver receta</button></a>
          </div>
        </div>
      
        <div class="contenido-receta">
          <img src="{% static 'App_core/img/garron-de-cordero-al.jpg' %}" alt="">
          
          <div class="iconos-receta my-2">
            <div>
              <i class="far fa-heart"></i>
              <i class="far fa-comment"></i>
            </div>
            <div>
              <i class="far fa-bookmark"></i>
            </div>  
          </div>
    
          <div class="iconos-receta">
            <p>10 me gusta</p>
          </div>
        </div>
      </article>
    </div>
  </div>

  

</section>
                             
{% endblock %}