{% extends 'App_core/base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock %}
{% block content %}
 
<!-- ======= Recipe Section ======= -->
<section id="testimonials" class="testimonials section-bg margin-recipe">
  <div class="container" data-aos="fade-up">

    <div class="user-recipe">
      <img src="{% static 'App_core/img/chefs/chefs-2.jpg' %}" alt="">
      <p class="ml-3 my-0"><a href="#">Nombre Usuario</a></p>
    </div>
   

    <div class="owl-carousel testimonials-carousel" data-aos="zoom-in" data-aos-delay="100">
      <div class="testimonial-item">
        <img src="{% static 'App_core/img/garron-de-cordero-al.jpg' %}" alt="">     
      </div>
    </div>

    <h2 class="text-center my-4">Garron de cordero al vino tinto</h2>

    <div class="section-title">
      <h2>Ingredientes</h2>
    </div>

    <ul class="mb-5">
      <li>5 presas de garron de cordero</li>
      <li>2 cebollas</li>
      <li>2 zanahorias</li>
      <li>500 cc de salsa española</li>
      <li>1 lt de vino tinto</li>
      <li>comino, oregano, pimienta</li>
      <li>sal a gusto</li>
    </ul>

    <div class="section-title">
      <h2>Preparación</h2>
    </div>

    <p>Primero se debe limpiar el cordero, quitandole la grasa y dejando el hueso limpio, sin carne
       esto le dara un mejor aspecto a la preparación.</p>
    <p>Picar la cebolla y la zanahoria de forma irregular para llevarlos a fuego y dorar, añadiendo comino, oregano y sal, tambien se deben
       sellar por todos los lados las presas de cordero</p>
    <p>Una vez dorados y sellados todos los ingredientes, se deben colocar en una olla a presión 
      junto con el vino tinto y la salsa inglesa. Dejar a fuego medio por 1 hora y media
    </p>
    <p>Terminado el tiempo de cocción, los garrones de corderos estaran listos para servir y acompañarlos
      con tu guarnición favorita!
    </p>     
  </div>
</section><!-- End Recipes Section -->
 
{% endblock %}